{% extends "model.html" %}

{% block title %}
Netuno NG - Autentica&ccedil;&atilde;o 
{% endblock %}

{% block user_options %}
{# There is no sense on user options of a not logged in user #}
{% endblock %}

{# TODO: how to retrieve login error message?! #}
{% block messages %}
{% if form.errors %}
<ul class="messages">
    <li class="error">A autentica&ccedil;&atilde;o falhou</li>
</ul>
{% endif %}
{% endblock %}

{% block content %}
<form name="login" action="." method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="/netunong/register/" />
    <table>
        <tr>
            <td>Usu&aacute;rio<td>
            <td><input type="text" name="username" />
        </tr>
        <tr>
            <td>Senha<td>
            <td><input type="password" name="password" />
        </tr>
    </table>
    <input type="hidden" name="next" value="{{next|escape}}" />
    <input type="submit" value="Autentique-me" />
</form>
{% endblock %}
