{% extends "model.html" %}
{% load i18n %}

{% block title %}Netuno NG - Importer{% endblock %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="/static/importer.css" />
{% endblock %}

{% block content %}
<form action="." method="POST">
{% csrf_token %}
    {% trans 'Old Netuno URL' %}
    <input name="netuno-address" type="text" /><br />
    {% trans 'Old Netuno username' %}
    <input name="username" type="text" /><br />
    {% trans 'Old Netuno password' %}
    <input name="password" type="password" /><br />
    <input  id="import" name="import" type="submit"  value="{% trans 'Import' %}" />
    <input  id="export" name="export" type="submit"  value="{% trans 'Export' %}" />
</form>
{% endblock %}

