{% extends "register/model.html" %}
{% load i18n %}

{% block title %}Netuno NG - o que eu fiz{% endblock %}

{% block operation %}add{% endblock %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="/static/register.css" />
<link type="text/css" href="/static/css/custom-theme/jquery-ui-1.8.12.custom.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/timePicker.css" />

<script type="application/javascript" src="/static/jquery-1.5.min.js"></script>
<script type="application/javascript" src="/static/jquery.ui.core.js"></script>
<script type="application/javascript" src="/static/jquery-ui-1.8.12.custom.js"></script>
<script type="application/javascript" src="/static/jquery.ui.datepicker.js"></script>
<script type="application/javascript" src="/static/jquery.timePicker.js"></script>
<script type="application/javascript" src="/static/dateinput.js"></script>
{% endblock %}


{% block formcontent %}

    {% trans "What I did:" %}<br/>
    <input type="text" name="activity" /></br>

    {% trans "Which task I helped:" %}<br/>
    <select name="task">
        <!-- Funny thing: <option> cannot be empty! -->
        <option value="0">&nbsp;</option> 
        {% for task in employee.tasks.all %}
        <option value="{{task.id}}">{{task|escape}}</option>
        {% endfor %}
    </select></br>

    {% trans "Started at" %}<br/>
    <input type="text" name="start-date" class="start-date date" />
    <input type="text" name="start-time"  class="start-time time" /><br/>

    {% trans "Ended at" %}<br />
    <input type="text" name="end-date"  class="end-date date" />
    <input type="text" name="end-time"  class="end-time time" /><br/>

{% endblock %}

