{% extends "register/model.html" %}

{% block title %}Netuno NG - o que eu fiz{% endblock %}

{% block operation %}close{% endblock %}

{% block formcontent %}

Eu planejava {{working_period.intended|escape}}
{% if working_period.intended_task %} para avan&ccedil;ar na tarefa de 
{{working_period.intended_task.name|escape}}{% endif %}. 

O que eu efetivamente fiz foi
    <input type="text" name="execution" value="{{working_period.intended|escape}}" />
para adiantar a tarefa de
    <select name="task">
        <!-- Funny thing: <option> cannot be empty! -->
        <option value="0">&nbsp;</option> 
        {% for task in employee.tasks.all %}
        <option value="{{task.id}}">{{task.name|escape}}</option>
        {% endfor %}
    </select>
<input type="hidden" name="working_period" value="{{working_period.id|escape}}" />
{% endblock %}

