{% extends "model.html" %}

{% block title %}Netuno NG - Gerenciar{% endblock %}

{% block content %}
{#    {% csrf_token %} #}
<table>
    {% for wp in employee.workingperiod_set.all %}
    <tr>
        <td class="executed">
            <input type="hidden" name="working_period" value="{{wp.id|escape}}" />
            <input type="text" value="{{wp.last_activity|escape}}" />
        </td>
        <td class="task">
            <select name="task" class="task">
                <option />
                {% for task in employee.tasks.all %}
                <option value="{{task.id|escape}}"
                    {% ifequal wp.last_task.id task.id %}
                    selected="selected"
                    {% endifequal %}
                >
                    {{task.name|escape}}
                </option>
                {% endfor %}
            </select>
        </td>
        <td class="start">
            <input type="text" name="start-date" class="start-date"
                    value="{{wp.start|date:settings.DATE_FORMAT|escape}}" />
            |
            <input type="text" name="start-time"  class="start-time"
                    value="{{wp.start|date:settings.TIME_FORMAT|escape}}" />
        </td>
        <td class="end">
            <input type="text" name="end-date"  class="end-date"
                {% if wp.end %}
                    value="{{wp.end|date:settings.DATE_FORMAT|escape}}" 
                {% endif %}
            />
            |
            <input type="text" name="end-time"  class="end-date"
                {% if wp.end %}
                    value="{{wp.end|date:settings.TIME_FORMAT|escape}}"
                {% endif %}
            />
        </td>
        <td class="time">{{wp.total_time|escape}} ({{wp.hours|escape}}h{{wp.minutes|escape}})</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

