{% extends "model.html" %}
{% load i18n %}

{% block title %}{% trans "Netuno NG - Manage" %}{% endblock %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="/static/manage.css" />
<link type="text/css" href="/static/css/custom-theme/jquery-ui-1.8.12.custom.css" rel="stylesheet" />

<script type="application/javascript" src="/static/jquery-1.5.min.js"></script>
<script type="application/javascript" src="/static/jquery.ui.core.js"></script>
<script type="application/javascript" src="/static/jquery-ui-1.8.12.custom.js"></script>
<script type="application/javascript" src="/static/jquery.ui.datepicker.js"></script>
<script type="application/javascript" src="/static/dateinput.js"></script>
<script type="application/javascript" src="/static/manage.js"></script>
{% endblock %}

{% block content %}
<div class="working-periods">
    <div class="header row">
        <span class="column  executed">{% trans "Activity" %}</span>
        <span class="column  task">{% trans "Task" %}</span>
        <span class="column  start date">{% trans "Started at" %}</span>
        <span class="column  end date">{% trans "Ended at" %}</span>
        <span class="column  time">{% trans "Total time" %}</span>
        <span class="column  operations">{% trans "Operations" %}</span>
    </div>
    {% for wp in employee.workingperiod_set.all %}
    <div id="row{{wp.id}}" class="row">
    <form class="form-wp" name="form-wp{{wp.id}}" action="." method="POST">
        <span class="column  executed">
            {% csrf_token %}
            <input type="hidden" id="working-period" name="working_period" value="{{wp.id|escape}}" />
            <input class="executed" type="text" name="activity" value="{{wp.last_activity|escape}}" />
        </span>
        <span class="column  task">
            <select name="task" class="task">
                <option value="0">&nbsp;</option>
                {% for task in employee.tasks.all %}
                <option value="{{task.id|escape}}"
                    {% ifequal wp.last_task.id task.id %}
                    selected="selected"
                    {% endifequal %}
                >
                    {{task.name|escape}}
                </option>
                {% endfor %}
            </select>
        </span>
        <span class="column  start date">
            <input type="text" name="start-date" class="start-date date"
                    value="{{wp.formatted_start_date|escape}}" />
            <input type="text" name="start-time"  class="start-time time"
                    value="{{wp.formatted_start_time|escape}}" />
        </span>
        <span class="column  end date">
            <input type="text" name="end-date"  class="end-date date"
                {% if wp.end %}
                    value="{{wp.formatted_end_date|escape}}" 
                {% endif %}
            />
            <input type="text" name="end-time"  class="end-time time"
                {% if wp.end %}
                    value="{{wp.formatted_end_time|escape}}"
                {% endif %}
            />
        </span>
        <span class="column  time">
        {% if wp.end %}
            {{wp.total_time|floatformat:"2"}} ({{wp.hours|escape}}h{{wp.minutes|escape}})
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
        </span>
        <span class="column  operations">
            <input type="submit" name="submit{{wp.id}}" class="update-submit"
                    value="{% trans "Save" %}" />
            <input type="submit" name="delete{{wp.id}}" class="delete-submit"
                    value="{% trans "Delete" %}" />
        </span>
    </form>
    </div>
    {% endfor %}
    <a name="add-period" href="/netunong/add/">{% trans "Add period" %}</a>
</div>
{% endblock %}

