{% extends "model.html" %}
{% load i18n %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="/static/register.css" />
<link type="text/css" href="/static/css/custom-theme/jquery-ui-1.8.12.custom.css" rel="stylesheet" />

<script type="application/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="application/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="application/javascript" src="/static/js/jquery.autocomplete.pack.js"></script>
<script type="application/javascript" src="/static/js/jquery.select-autocomplete.js"></script>
<script type="application/javascript" src="/static/js/task-autocomplete.js"></script>
{% endblock %}

{% block content %}
<form action="{% block action %}{% endblock %}" method="POST">
{% csrf_token %}
    {% block formcontent %}
    Este &eacute; o modelo para p&aacute;ginas de registro de horas. Se esse 
    texto apareceu, algo est&aacute; errado na aplica&ccedil;&atilde;o.
    {% endblock %}
    <input  id="submit" name="submit" type="submit"  value="{% trans 'Register' %}" />
</form>
{% endblock %}

