{% extends "model.html" %}
{% load i18n %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="/static/register.css" />
{% endblock %}

{% block content %}
<form action="." method="POST">
{% csrf_token %}
    <input type="hidden" name="operation" value="{% block operation %}{% endblock %}" />
    {% block formcontent %}
    Este &eacute; o modelo para p&aacute;ginas de registro de horas. Se esse 
    texto apareceu, algo est&aacute; errado na aplica&ccedil;&atilde;o.
    {% endblock %}
    <input  id="submit" name="submit" type="submit"  value="{% trans 'Register' %}" />
</form>
{% endblock %}

