{% extends "register/model.html" %}
{% load i18n %}

{% block title %}{% trans "Netuno NG - what I will do" %}{% endblock %}

{% block operation %}open{% endblock %}

{% block formcontent %}
    {% trans "What I intend to do:" %}
    <input type="text" name="intention" /> 
    {% trans "Which task I intend to help:" %}
    <select name="task">
        <!-- Funny thing: <option> cannot be empty! -->
        <option value="0">&nbsp;</option>
        {% for task in employee.tasks.all %}
        <option value="{{task.id|escape}}">{{task.name|escape}}</option>
        {% endfor %}
    </select>
{% endblock %}

