{% extends "register/model.html" %}
{% load i18n %}

{% block title %}{% trans "Netuno NG - what I will do" %}{% endblock %}

{% block action %}open/{% endblock %}

{% block formcontent %}
    {% trans "What I intend to do:" %}<br/>
    <input type="text" name="intention" /> <br/>
    {% trans "Which task I intend to help:" %}<br/>
    <select name="task" class="task">
        <!-- Funny thing: <option> cannot be empty! -->
        <option value="0">&nbsp;</option>
        {% for task in employee.not_done_tasks %}
        <option value="{{task.id|escape}}">{{task|escape}}</option>
        {% endfor %}
    </select><br/>
{% endblock %}
