{% extends "register/model.html" %}

{% block title %}Netuno NG - o que vou fazer{% endblock %}

{% block operation %}open{% endblock %}

{% block formcontent %}
Eu vou 
    <input type="text" name="intention" /> 
para avan&ccedil;ar na tarefa de
    <select name="task">
        <!-- Funny thing: <option> cannot be empty! -->
        <option value="0">&nbsp;</option>
        {% for task in employee.tasks.all %}
        <option value="{{task.id|escape}}">{{task.name|escape}}</option>
        {% endfor %}
    </select>
{% endblock %}

