input.date {
    width: 7em; 
}

input.time {
    width: 5em;
}

input.executed {
    width: 29em;
}

select.task {
    width: 20em;
}

/* Row sizes */

div.working-periods {
    display: table;
}

.start, .end {
    width: 9em;
}

.date, .time {
    width: 4.5em;
}

.time-delta {
    min-width: 8em;
}

.executed {
    width: 20em;
}

.task {
    width: 14em;
}

.operations {
    width: 4.5em;
    /*border: solid 1px;*/
    text-align:justify;
    word-spacing: 2em;
}

/* Spacing */

.column {
    display:table-cell;
    padding: .1em 0em 0em 0em;
    margin: 0em;
}

.row {
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
}

form.form-wp {
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
    display: table-row;
}

.header {
    text-align:left;
}

.header {
    font-weight: bold;
}
