input.date {
    width: 7em; 
}

input.time {
    width: 5em;
}

input.executed {
    width: 29em;
}

select.task {
    width: 20em;
}

/* Row sizes */

div.working-periods {

}

span.date {
    width: 9em;
}

span.time {
    width: 8em;
}

span.executed {
    width: 20em;
}

span.task {
    width: 14em;
}

span.operations {
    width: 9em;
    /*border: solid 1px;*/
    text-align:justify;
    word-spacing: 2em;
}

/* Spacing */

span.column {
    display:table-cell;
    padding: .1em 0em 0em 0em;
    margin: 0em;
}

div.row {
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
}

form.form-wp {
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
    display: table-row;
}

.header span.column {
    text-align:left;
}

.header {
    font-weight: bold;
}
