{% load i18n %}
<html>
    <head>
        <title>{% block title %}Base model for Netuno NG Pages{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
        {% block customcss %}{% endblock %}
    </head>
    <body>
        {% block user_options %}
        <div class="user-options">
            {{user.get_profile.name|escape}} | 
            <a id="register" name="register" href="/netunong/">{% trans "Register" %}</a> |
            <a id="manage" name="manage" href="/netunong/manage/">{% trans "Manage" %}</a> |
            {#<a name="reports" href="/netunong/reports/">{% trans "Reports" %}</a> |#}
            <a id="logout" name="logout" href="/netunong/logout/">{% trans "Log out" %}</a>
        </div>
        {% endblock %}

        <div class="content">
        {% block messages %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{message}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endblock %}
        
        {% block content %}
        <p class="error">This is the base model for Netuno NG pages. If you are seeing it
        in the browser, something is wrong.
        </p>
        {% endblock %}
        </div>
    </body>
</html>
