<html>
    <head>
        <title>{% block title %}Base model for Netuno NG Pages{% endblock %}</title>
    </head>
    <body>
        {% block user_options %}
        <div class="user-options">
            {{user.get_profile.name|escape}} | 
            <a name="register" href="/netunong/register/">Registrar</a> |
            <a name="manage" href="/netunong/register/manage/">Gerenciar</a> |
            <a name="logout" href="/netunong/logout/">Sair</a>            
        </div>
        {% endblock %}

        {% block errors %}
        {% if errors %}
        <ul class="errorlist">
            {% for error in errors %}
            <li>{{error|escape}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endblock %}
        
        {% block content %}
        <p class="error">This is the base model for Netuno NG pages. If you are seeing it
        in the browser, something is wrong.
        </p>
        {% endblock %}
        
    </body>
</html>
